.tabular-concept {
  text-align: left;
  font-family: OpenSansBold;
  font-size: 12px;
  padding: 0 0 5px;
  color: #666;
}

.container-element {
  border: 1px solid #ddd;
  flex: 1;
}

.container {
  display: flex;
  margin: 10px 10px 10px 10px;
}

.concept-heading{
  font-size: 11px;
  border-collapse: collapse;
  border-spacing: 0;
  background: #ddd;
  padding: 7px;
  font-weight: 700;
  font-family: OpenSans,Arial,sans-serif;
  width: auto;
  word-break: normal;
  text-align: left;
  border: 1px solid #ddd;
  vertical-align: inherit;
  display: flex;
  flex: 1;
}

