.question {
  font-size: 12px;
  padding-top: 10px;
  flex: 1;
  margin-right: 2%;
  text-align: right;
}

.concept {
  font-family: OpenSans, Arial, sans-serif, Arial, sans-serif;
  line-height: 1.5;
  height: 50px;
  display: flex;
}

.answer {
  float: left;
  flex: 2;
  margin-right: 2%;
}

p {
  display: inline-block;
}

.required {
  padding-left: 3px;
  font-size: 15px;
}

.horizontalLine{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  position: relative;
  margin-left: 2%;
  width: 70%;
}

.notes-label{
  font-size: 11px;
}
.add-more{
  font-size: 14px;
  padding: 10px 0 0 10px;
  margin: 2.5% 0 0;
  border: none;
  color: #000;
}
