<div class="concept">
  <div class="question">
    <p *ngIf="!member.units">{{member.name}}</p>
    <p *ngIf="member.units">{{member.name}}&nbsp;({{member.units}})</p>
    <p class="test-dateformat" *ngIf="member.datatype ==='Date'">&nbsp;(DD/MM/YYYY)</p>
    <p class="required" *ngIf="member.config && member.config.required">*</p>
    <p *ngIf="member.datatype === 'Coded'">&nbsp;(Use Code)</p>
  </div>
  <div [ngSwitch]="member.datatype" class="answer">
    <app-text-box *ngSwitchCase="'Text'" [member]="member"></app-text-box>
    <app-text-box *ngSwitchCase="'Numeric'" [member]="member"></app-text-box>
    <app-text-box *ngSwitchCase="'Date'" [member]="member"></app-text-box>
    <app-text-box *ngSwitchCase="'Coded'" [member]="member"></app-text-box>
    <app-check-box *ngSwitchCase="'Boolean'"></app-check-box>
  </div>
</div>
