.question{
  font-size: 12px;
  text-align: right;
  width: 20%;
  float: left;
  padding-top: 10px;
  height: 20px;
  display: inline-block;
}
.concept{
  font-family: OpenSans,Arial,sans-serif,Arial,sans-serif;
  width: 100%;
  line-height: 1.5;
  height: 50px;
  margin-left: 5px;
  padding-top: 5px;
}
.answer{
  width: 75%;
  float: left;
  margin-left: 5%;
}
p {
  display: inline-block;
}
.required{
  padding-left: 3px;
  font-size: 15px;
}
