.question{
  font-size: 12px;
  text-align: right;
  width: 20%;
  float: left;
  padding-top: 10px;
}
.concept{
  font-family: OpenSans,Arial,sans-serif,Arial,sans-serif;
  width: 100%;
  line-height: 2;
}
.answer{
  width: 75%;
  float: left;
  margin-left: 5%;
}
