.concept-set-section {
  padding: 10px 50px 30px 20px;
  border: 1px solid #ccc;
  margin: 30px 10px 10px 10px;
  border-radius: 5px;
  position: relative;
}

.concept-set {
  border: 1px solid #999;
  border-radius: 20px;
  background-color: white;
  padding: 2px 12px 2px 12px;
  position: absolute;
  font-family: OpenSansBold,Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  top: -10px;
}
