.concept-set-section {
  padding: 10px 50px 30px 20px;
  border: 1px solid #ccc;
  margin: 30px 10px 10px 10px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  width: 90%;
}

.concept-set {
  border: 1px solid #999;
  border-radius: 20px;
  background-color: white;
  padding: 2px 12px 2px 12px;
  position: absolute;
  font-family: OpenSansBold,Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  top: -10px;
}
.add-more {
  font-size: 14px;
  border: none;
  color: #000;
}

