.error-message-container {
  background-image: linear-gradient(#d87777, #d95757);
  border: 1px solid #b72224;
  width: 35%;
  margin: 5px auto;
  padding: 7px 10px;
  border-radius: 2px;
  font-size: 15px;
  color: #FFF;
  font-family: OpenSansSemiBold, Arial, serif;
  font-weight: bold;
  text-align: center;
  position: fixed;
  top: 50px;
  left: 32%;
  z-index: 99999999;
  display: table;
}

div {
  display: block;
}

.button-wrapper {
  padding: 7px;
  font-family: OpenSansSemiBold, Arial, serif;
  font-weight: bold;
  font-size: 20px;
}

button {
  border-radius: 3px;
  background: linear-gradient(#FFF, #DDD);
  border: #DDD 1px solid;
  padding: 6px 20px 7px;
  display: inline-block;
  font-weight: bold;
  line-height: 1.2em;
  color: #363463;
  cursor: pointer;
  min-width: 0;
  max-width: 300px;
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}


