/* You can add global styles to this file, and also import other style files */
body {
  font-family: OpenSans, Arial, sans-serif, Arial, sans-serif;
}


@media print {
  body, #non-printable {
    visibility: hidden;
  }
  #printable {
    visibility: visible;
    border-bottom: 1px solid black;
  }
  .form {
    position: absolute !important;
    margin: 0 auto !important;
    border: none !important;
    width: 95% !important;
    height: auto !important;
    overflow: visible !important;
  }
  .formName {
    background: white !important;
    color: black !important;
    text-align: center !important;
    font-weight: bold !important;
  }
  .section {
    width: 85% !important;
    padding-left: 10px;
  }
  .concept {
    page-break-inside: avoid !important;
  }
  .concept-set-section {
    page-break-inside: auto !important;
  }
}

.code-sheet-question{
  flex: 1;
  padding-left: 5px;
  margin-right: 1%;
}

.code-sheet-answer {
  flex: 3;
  padding-left: 5px;
}

