.Text, .Numeric, .Date{
  color: #363463;
  padding: 5px 10px;
  margin: 15px 0 0;
  min-width: 197px;
  float: left;
  box-sizing: border-box;
  border: 1px solid black;
}
button{
  color: #000;
  border: 1px solid black;
  padding: 6px 20px 7px;
  display: inline-block;
  line-height: 0.5em;
  width: 90px;
  margin: 16px 0 0 10px;
}
.hint {
  font-size: 11px;
  display: inline-block;
  float: left;
  padding: 5px 10px 0;
  width: 130px;
  margin: 15px 0 0;
}
textarea{
  height: 35px;
  width: 100%;
  transition: height .1s ease;
  box-sizing: border-box;
  color: #363463;
  padding: 0 10px;
  margin: 15px 0 0;
  background-color: #FFF;
  border: 1px solid black;
  resize: none;
}

.Coded {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1.3px solid black;
  position: relative;
  top: 25px;
  width: 40%;
  float: left;
}

