input{
  color: #363463;
  padding: 2px 10px;
  margin: 15px 0 0;
  min-width: 197px;
  float: left;
  box-sizing: border-box;
}
button{
  color: #333;
  background: #eee;
  border: 1px solid #DDD;
  padding: 6px 20px 7px;
  display: inline-block;
  line-height: 0.5em;
  cursor: pointer;
  width: 90px;
  text-decoration: none;
  margin: 15px 0 0 10px;
  opacity: .7;
}
.hint {
  font-size: 11px;
  display: inline-block;
  color: #666;
  float: left;
  padding: 0 10px 0;
  width: 100px;
  margin: 15px 0 0;
}
textarea{
  height: 35px;
  width: 500px;
  transition: height .1s ease;
  box-sizing: border-box;
  color: #363463;
  padding: 0 10px;
  margin: 15px 0 0;
  background-color: #FFF;
  border: 1px solid #DDD;
}
