<label class="text-answer" *ngIf="member.datatype === 'Text'">
  <textarea *ngIf="!member.config" disabled ></textarea>
  <input *ngIf="member.config && member.config.conciseText" class = {{member.datatype}} disabled >
</label>
<label class="text-answer" *ngIf="member.datatype !== 'Text'">
  <input class = {{member.datatype}} disabled >
</label>
 <div class="abnormal" *ngIf="member.isAbnormal">
   <p class="hint" *ngIf="member.range[0] && member.range[1]">({{member.range[0]}}-{{member.range[1]}})</p>
   <p class="hint" *ngIf="member.range[0] && !member.range[1]">(> {{member.range[0]}})</p>
   <p class="hint" *ngIf="!member.range[0] && member.range[1]">(< {{member.range[1]}})</p>
   <button>Abnormal</button>
 </div>

